<a href="https://colab.research.google.com/github/moonsunglab/study_pythons/blob/main/codes/quests/90_fourbasic_operations_functions_returns.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 사칙연산을 마이크로 함수화 하고 호출결과를 출력하라

### 덧셈

In [47]:
def add(input_first_value ,input_second_value ) :
  result_plus = input_first_value + input_second_value
  return result_plus

In [48]:
add(4, 6)

10

In [49]:
first_p = 4
second_p = 6
result_return_p = add(first_p , second_p)

In [50]:
print(f'{result_return_p} / {type(result_return_p)} = {first_p} + {second_p}')

10 / <class 'int'> = 4 + 6

### 뺄셈

In [51]:
def minus(first_num , second_num) :
  minus_result = first_num - second_num
  return minus_result

In [52]:
minus(5,6)

-1

In [53]:
first_m = 5
second_m = 6
result_return_m = minus(first_m , second_m)

In [63]:
print(f'{result_return_m} / {type(result_return_m)} = {first_m} - {second_m}')

-1 / <class 'int'> = 5 - 6

### 곱셈

In [55]:
def multiple(first_num , second_num) :
  multiple_result = first_num * second_num
  return multiple_result

In [56]:
multiple(2 , 10)

20

In [57]:
first_m2 = 2
second_m2 = 10
result_return_m2 = multiple(first_m2 , second_m2)

In [58]:
print(f'{result_return_m2} / {type(result_return_m2)} = {first_m2} * {second_m2}')

20 / <class 'int'> = 2 * 10

### 나눗셈

In [59]:
def division(first_num , second_num) :
  division_result = first_num / second_num
  return division_result

In [60]:
division(100 , 5)

20.0

In [61]:
first_d = 100
second_d = 5
result_return_d = division(first_d , second_d)

In [62]:
print(f'{result_return_d} / {type(result_return_d)} = {first_d} / {second_d}')

20.0 / <class 'float'> = 100 / 5