<a href="https://colab.research.google.com/github/moonsunglab/study_pythons/blob/main/codes/02_variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##변수의 재사용
-변수명과 변수값으로 구성

In [ ]:
first_string="1"
second_string="0"
third_string="2"
print(first_string, second_string, third_string)

1 0 2

In [ ]:
temp_string="0"
second_string=first_string
first_string=temp_string
print(first_string, second_string, third_string)

0 1 2

In [ ]:
first_string=third_string
third_string=temp_string
print(first_string , second_string , third_string)

2 1 0

In [ ]:
third_string = second_string
second_string = temp_string
print(first_string, second_string, third_string)

2 0 1

## 외부 값 입력

### 변수값 종류 확인

In [ ]:
first = 'first value'
second = ' 5 '
third = 3
print_string = f'first : {first} , second : {second} , third : {third}'
print(print_string)

first : first value , second :  5  , third : 3

In [ ]:
#second + third
#type(5) , type('5') , type(4.5)
#can only concatenate str (not "int") to str
print_string = f'first : {first}-{type(first)} , second : {second}/{type(second)} , third : {third}-{type(third)}'
print(print_string)

first : first value-<class 'str'> , second :  5 /<class 'str'> , third : 3-<class 'int'>

### datatype 변경

In [ ]:
#int(second)
#함수는 항상 결과값
second_value = int (second)
print(f'{second_value} / {type(second_value)}')

5 / <class 'int'>

In [ ]:
second_value + third

8

In [ ]:
result = second_value + third
print(f'{result} / {type(result)}')

8 / <class 'int'>

In [ ]:
result_value = str(result)
print (f'{result_value} / {type(result_value)}')

8 / <class 'str'>

In [ ]:
#int(first)
#ValueError: invalid literal for int() with base 10: 'first value'

ValueError: invalid literal for int() with base 10: 'first value'

### input()

In [ ]:
# input()
fourth = input()

print(f'{fourth} / {type(fourth)}')

454
454 / <class 'str'>

In [ ]:
# fourth + third
int(fourth) + third #datatype casting

348

### toy quest
- 외부에서 숫자 두개를 받아 덧셈 연산 결과 출력

In [ ]:
input_first = input('input_first')
input_second = input('input_second')
# print(f'{input_first} / {type(input_first)}')
# print(f'{input_second} / {type(input_second)}')
input_first_value = int(input_first)
input_second_value = int(input_second)
result = input_first_value + input_second_value
print(f'{result} = {input_first_value} + {input_second_value}')

input_first7
input_second8
15 = 7 + 8

###사칙연산

In [ ]:
7 + 3 , 7 - 3 , 7 * 3 , 7 / 3 , 7 % 3

(10, 4, 21, 2.3333333333333335, 1)

In [ ]:
input_first = input('input first')
input_second = input('input_second')
input_first_value = int(input_first)
input_second_value = int(input_second)

input first7
input_second3

In [ ]:
result_minus = input_first_value - input_second_value
print(f'{result_minus} / {type(result_minus)}= {input_first_value} - {input_second_value}')

4 / <class 'int'>= 7 - 3

In [ ]:
result_multiple = input_first_value * input_second_value
print(f'{result_multiple} / {type(result_multiple)} = {input_first_value} * {input_second_value}')

21 / <class 'int'> = 7 * 3

In [ ]:
result_division = input_first_value / input_second_value
print(f'{result_division} / {type(result_division)} = {input_first_value} / {input_second_value}')

2.3333333333333335 / <class 'float'> = 7 / 3

In [ ]:
result_surplus = input_first_value % input_second_value
print(f'{result_surplus} / {type(result_surplus)} = {input_first_value} % {input_second_value}')

1 / <class 'int'> = 7 % 3

##booleans

### True or False

In [ ]:
# first = True
# second = False
# first = true #error
# second = false #error
second = bool (0)
first = bool (1)
print(f'first : {first} / {type(first)} , second : {second} / {type(second)}')

first : True / <class 'bool'> , second : False / <class 'bool'>

In [ ]:
not first , not second

(False, True)

### 부등호와 boolean

In [ ]:
5 < 7 # 5는 7보다 작다.7은 5보다 크다.대개 왼쪽부터 읽는게 자연스럽다. 컴퓨터도 그렇다.

True

In [ ]:
5 < 7 , 5 > 7 ,5 == 7 , 5 <= 7 , 5 >= 7 , 5 != 7

(True, False, False, True, False, True)

In [ ]:
first = 5
second = 7
first < second , first > second , first == second , first <= second , first >= second , first != second

(True, False, False, True, False, True)

In [ ]:
not (first < second) , not (first > second) , not (first == second)

(False, True, True)

### and 와 or

In [ ]:
first = 5
second = 7
third = 10

#5보다는 크고 10보다는 작냐?
# if 5 < 7 :
#   if 10 < 7 : --> 복잡하다.. 그래서 and조건

5 < 7 , 7 <10 , (5 <7 and 7 < 10)

(True, True, True)

### in에 의한 True and False

In [3]:
"cherry" in ["apple", "banana", "cherry"] #list 변수에 cherry가 안에 있나?

True

In [6]:
fruits = ["apple", "banana", "cherry"]
fruit = "cherry"

fruit in fruits

True

In [7]:
fruits = ["apple", "banana", "cherry"]
fruit = "melon"

fruit in fruits

False